@{
    ViewBag.Title = "Calificaciones";
}

<h2>Reporte Resumen</h2>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    Existen @ViewBag.cantAlumnos alumno/s, el promedio mínimo es @ViewBag.minPromedio, el máximo promedio es
    @ViewBag.maxPromedio y el promedio de todos los alumnos es @ViewBag.proPromedio


</div>


<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Existen @ViewBag.tocayo tocayos del Profesor
</div>



